.resume{
    width:70%;
    margin:auto;
    background:whitesmoke;
    padding:20px;
}
body{
    background-color:#606a96 ;
    font-family: arial;
}
h2{
    color: rgb(33, 22, 71);
    border-bottom: px solid black;
}
h1,h3{
    text-align: center;
    color: rgb(27, 10, 10);
}
li{
    font-size: 14px;
}
.profile-pic{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: block;
    margin: auto;
}
ul{
    font: size 22px;
}
